nome: <%= @user.nome_completo %></br>
sexo: <%= @user.sexo %></br>
data de nascimento: <%= @user.nascimento %></br>
pais: <%= @user.pais %></br>
estado: <%= @user.estado %></br>
cidade: <%= @user.cidade %></br>
email: <%= @user.user.email %></br>

</br>
</br>
<h3>Canais do usuário:</h3>
<% @canals.each do |canal| %>
  <table class='bordasimples'>
  <tr>
    <td><%= canal.nome %></td>
    <td><%= canal.tipo_programacao %></td>
    <td><%= canal.idade_minima %></td>
    <td><%= canal.imagem %></td>
    <td><%= canal.descricao %></td>
    <td><%= link_to 'Mostrar', canal %></td>
  </tr>
  </table>
<% end %>

<h3>Amigos do usuário:</h3>
<table>
  <% @amigos.each do |amigo| %>
    <tr>
      <td><%= image_tag amigo.amigo.foto.url(:icone)%></td>
      <td><%= link_to amigo.amigo.nome_completo, :controller => "user_profile", :action => "profile", :id => amigo.amigo.id %> </td>
    </tr>
  <% end %>
</table>
</br>
</br>

<% unless Amigo.amizade?(current_user.user_profile, @user) %>
  <% if current_user.user_profile != @user %>
    <%= link_to "Adicionar amigo", :controller => "amigos", :action => "adicionar", :id => @user.id %>
  <% end %>
<% end %>
